/* Color scheme */
.impact-bg-primary
{
  background-color: #133c8c;
}

.impact-color-primary
{
  color: #133c8c;
}

.impact-bg-secondary
{
  background-color: #fe6500;
}

.impact-color-secondary
{
  color: #fe6500;
}

.impact-bg-neutral
{
  background-color: #dedede;
}

.impact-color-neutral
{
  color: #dedede;
}

.impact-color-go
{
  color: #308c13;
}

.impact-bg-go
{
  background-color: #308c13;
}

.impact-color-brown
{
  color: #9b3e00;
}

.dedede-text
{
  color: #dedede;
}

.impact-color-danger
{
  color: #A30000;
}

.impact-bg-danger
{
  background-color: #A30000;
}

.impact-color-cyan
{
  color: #007090;
}

.impact-bg-cyan
{
  background-color: #007090;
}

/* Special effects */

.zoom
{
  transition: transform 0.2s;
}

.zoom:hover
{
  transform: scale(1.1);
}

/* Headings */

h4.service-heading
{
  font-weight: normal;
}

/* About section */

.about-logo
{
  margin-top: -5rem!important;
  margin-bottom: 2rem!important;
}

@media (min-width: 995px)
{
  .about-logo
  {
    margin-top: auto!important;
    margin-bottom: auto!important;
  }
}

/* Desktop vs mobile changes */

.desktop
{
  display: none;
}

.mobile
{
  display: none;
}

.mobile-sm
{
  display: block;
}

@media (min-width: 447px)
{
  .desktop
  {
    display: none;
  }

  .mobile
  {
    display: block;
  }

  .mobile-sm
  {
    display: none;
  }
}

@media (min-width: 992px)
{
  .desktop
  {
    display: block;
  }

  .mobile
  {
    display: none;
  }

  .mobile-sm
  {
    display: none;
  }

}

/* Image effects */

.img-rounded
{
  border-radius: 10%;
}
